.btn-drink {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.btn-drink:hover {
    background-color: #dcdcdc;
}

.btn-drink-disabled {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: none;
    background-color: white;
    cursor: 'default';
    opacity: 0.2;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}