.menu-item {
    width: 275px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}




.btn-footer {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-style: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.btn-footer:hover {
    background-color: #dcdcdc;
}

.btn-disabled {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-style: none;
    background-color: white;
    cursor: 'default';
    opacity: 0.2;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
