.confirm {
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

.logOut {
    color: #cc0000;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

.logOut:hover {
    background-color: rgb(250, 233, 233);
}